@import './variables.scss';
@import './normalize.scss';
@import './typography.scss';

html {
  background-color: $color-codGray;
  color: $color-alabaster;
}

// Apply the baseline grid as background
html {
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, 0.3) 1px, transparent 1px);
  background-repeat: repeat;
  background-position: left top;
  background-size: 100% #{($base-font-size / 100 * 16) * $line-height + "px"};
}
