// Typography
$base-font-size: 125; // Gets used as %, converts to 20px
$line-height: 1.45;
$base: ($base-font-size / 100); // We'll need this for some calculations
$font-family: 'Roboto', 'arial', sans-serif;

// Colors
$color-codGray: #111111;
$color-alabaster: #f7f7f7;
$color-goldenTainoi: #ffc85f;
$color-dodgerBlue: #46bfff;
