@tailwind base;

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(/src/fonts/open-sans/OpenSans-Light.ttf) format("ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(/src/fonts/open-sans/OpenSans-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(/src/fonts/open-sans/OpenSans-Italic.ttf) format("ttf");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(/src/fonts/open-sans/OpenSans-Bold.ttf) format("ttf");
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url(/src/fonts/oswald/Oswald-Regular.ttf) format("ttf");
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: url(/src/fonts/oswald/Oswald-Bold.ttf) format("ttf");
}

@tailwind components;
@tailwind utilities;

.body-wrapper {
  max-width: 1366px;
}

.brush-arrow {
  right: 1.5rem;
  top: -3rem;
  z-index: 0;
}

.brush-circle {
  right: 0;
  z-index: 0;
}

.brush-stroke {
  margin-left: -.75rem;
}

.content-wrapper {
  /*
  Max content width is 950px and we need to account for
  the container padding left and right of 1.5 rem
  */
  max-width: calc(800px + 3rem);
}

.chevron {
  height: 0.65rem;
  right: 0.5rem;
  top: 0.32rem;
}

/* Gradient going from blue-400 to blue-600 */
.gradient {
  background: linear-gradient(#95bff0, #1f5a99 50%)
}

.list-style {
  left: -2rem;
  top: .25rem;
  height: 1rem;
}

.phone-solid {
  right: 0.8rem;
  top: .5rem;
}

.quote-left {
  top: 0.7rem;
  left: 0.7rem;
  z-index: 0;
}

.transition {
  transition: opacity .5s;
}
