@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-black text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold mb-2;
}

p {
  @apply mb-4;
}

q {
  @apply relative;
}

q:before {
  content: open-quote;
  left: -0.5rem;
  position: absolute;
}

q:after {
  content: close-quote;
}

a {
  @apply text-blue-700 underline transition-colors;
}

a:hover {
  @apply text-black;
}

table {
  @apply table-auto text-sm text-left w-full max-w-full;
}

td,
th {
  @apply border border-gray-200 p-2;
}

.wrapper {
  @apply max-w-screen-lg px-10 mx-auto;
}

.btn {
  @apply border-2 font-bold hover:text-violet-500 inline-block px-7 py-3 text-white no-underline tracking-wider transition-all uppercase relative z-10;
  border-image: linear-gradient(90deg, #320ad8, #6a4ddf);
  border-image-slice: 1;
}

.btn:before {
  @apply absolute h-full transition-all w-full bg-gradient-to-r from-violet-500 to-violet-400;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
}

.btn:after {
  @apply absolute bg-white h-full transition-all;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  z-index: -1;
}

.btn:hover:after {
  @apply absolute bg-white h-full transition-all w-full;
  z-index: -1;
}

.entry-content {
  @apply overflow-scroll;
}

.entry-content h1 {
  @apply text-4xl;
}

.entry-content h2 {
  @apply text-2xl;
}

.entry-content h3 {
  @apply text-xl;
}

.entry-content ul li {
  @apply relative mb-2 pl-6;
}

.entry-content ul li:before {
  @apply absolute left-0 opacity-50;
  content: "✔️ ";
}

.entry-content ol {
  @apply ml-5;
}

.entry-content ol li {
  @apply list-decimal;
}

.entry-content p + h1,
.entry-content p + h2,
.entry-content p + h3,
.entry-content p + h4,
.entry-content p + h5,
.entry-content p + h6,
.entry-content ul + h1,
.entry-content ul + h2,
.entry-content ul + h3,
.entry-content ul + h4,
.entry-content ul + h5,
.entry-content ul + h6,
.entry-content ul + p,
.entry-content ol + h1,
.entry-content ol + h2,
.entry-content ol + h3,
.entry-content ol + h4,
.entry-content ol + h5,
.entry-content ol + h6,
.entry-content ol + p,
.entry-content table + h1,
.entry-content table + h2,
.entry-content table + h3,
.entry-content table + h4,
.entry-content table + h5,
.entry-content table + h6 {
  @apply mt-8;
}

.shape-divider {
  @apply absolute w-full overflow-hidden;

  left: 0;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider svg {
  @apply relative block;

  width: calc(100% + 1.3px);
  height: 88px;
}

.shape-divider-bottom {
  bottom: 0;
}

.shape-divider-top {
  top: -88px;
}
