@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography
------------------------------------------------------------------------------------------ */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../../assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('../../assets/fonts/Poppins-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('../../assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('../../assets/fonts/Poppins-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

* {
  @apply font-body text-base text-black;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}
