@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-black text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-bold mb-2;
}

li,
p {
  @apply mb-4;
}

q {
  @apply relative;
}

q:before {
  content: open-quote;
  left: -0.5rem;
  position: absolute;
}

q:after {
  content: close-quote;
}

a {
  @apply text-blue-700 underline transition-colors;
}

a:hover {
  @apply text-black;
}

.wrapper {
  @apply max-w-screen-lg px-10 mx-auto;
}

.btn {
  @apply border-2 font-bold hover:text-violet-500 inline-block px-7 py-3 text-white no-underline tracking-wider transition-all uppercase relative;
  border-image: linear-gradient(90deg, #320ad8, #6a4ddf);
  border-image-slice: 1;
}

.btn:before {
  @apply absolute h-full transition-all w-full bg-gradient-to-r from-violet-500 to-violet-400;
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
}

.btn:after {
  @apply absolute bg-white h-full transition-all;
  content: "";
  left: 0;
  top: 0;
  width: 0;
  z-index: -1;
}

.btn:hover:after {
  @apply absolute bg-white h-full transition-all w-full;
  z-index: -1;
}

.entry-content h1 {
  @apply text-4xl;
}

.entry-content h2 {
  @apply text-2xl;
}

.entry-content h3 {
  @apply text-xl;
}

.shape-divider {
  @apply absolute w-full overflow-hidden;

  left: 0;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider svg {
  @apply relative block;

  width: calc(100% + 1.3px);
  height: 88px;
}

.shape-divider-bottom {
  bottom: 0;
}

.shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

.shape-divider-top {
  top: -88px;
}

.shape-divider-top .shape-fill {
  fill: #f4f5f9;
}
