<!-- wp:template-part {"slug":"header","theme":"frontera-digital","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull"><!-- wp:heading {"level":1,"align":"wide","fontSize":"gigantic"} -->
    <h1 class="alignwide has-gigantic-font-size" id="404-not-found">404: Not Found</h1>
    <!-- /wp:heading -->

    <!-- wp:group {"align":"wide"} -->
    <div class="wp-block-group alignwide"><!-- wp:paragraph {"fontSize":"medium"} -->
        <p class="has-medium-font-size">Oops! Looks like that page doesn't exist.</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph {"fontSize":"medium"} -->
        <p class="has-medium-font-size">How about checking out some <a href="https://thefrontera.agency/blog"
                                                                       data-type="page" data-id="14">blog</a> posts
            instead?</p>
        <!-- /wp:paragraph --></div>
    <!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"frontera-digital","tagName":"footer","align":"full"} /-->
