<!-- wp:template-part {"slug":"header","theme":"frontera-digital","tagName":"header","align":"full"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull"><!-- wp:post-title {"level":1,"align":"wide","fontSize":"gigantic"} /-->

    <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"frontera-digital","tagName":"footer","align":"full"} /-->
