<!-- wp:template-part {"slug":"header","theme":"thefrontera.agency"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"inherit":true}} -->
<main class="wp-block-group alignfull">
  <!-- wp:post-title {"level":1,"align":"wide","fontSize":"gigantic"} /-->

  <!-- wp:group {"align":"wide","className":"has-small-font-size","layout":{"type":"flex","allowOrientation":false}} -->
  <div class="wp-block-group alignwide has-small-font-size"><!-- wp:post-date /--></div>
  <!-- /wp:group -->

  <!-- wp:post-featured-image {"align":"wide"} /-->

  <!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

  <!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"space-between","flexWrap":"wrap"}} -->
  <div class="wp-block-group">
    <!-- wp:post-navigation-link {"showTitle":true} /-->

    <!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"thefrontera.agency"} /-->
