a:hover {
  text-decoration: none;
}

.list-with-icons {
  list-style-type: none;

  li {
    position: relative;

    &:before {
      background-image: url('../../assets/images/badge_check--primary.svg');
      background-repeat: no-repeat;
      background-position: center;
      content: '';
      height: 1.5rem;
      left: -2.5rem;
      position: absolute;
      width: 1.5rem;
    }
  }
}

.wedge {
  height: calc(100vw / 25);
}

.wedge-contained {
  height: calc(100% / 10);
}

.wedge-bottom {
  bottom: -1px;
  clip-path: polygon(100% 0%, -2% 100%, 100% 100%);
}

.wedge-top {
  clip-path: polygon(0% 0%, 0% 100%, 102% 0%);
  top: -1px;
}
