.background\:white {
  background: var(--wp--preset--color--white);
}

.box-sizing\:content-box {
  box-sizing: content-box;
}

.left\:0 {
  left: 0;
}

.position\:absolute {
  position: absolute;
}

.position\:relative {
  position: relative;
}

.width\:100 {
  width: 100%;
}
